version: '3'

services:
  nextcloud-mariadb:
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - nextcloud-mariadb:/var/lib/mysql
    environment:
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_ROOT_PASSWORD

  nextcloud-redis:
    image: redis:alpine
    restart: always

  nextcloud-s3:
    image: minio/minio
    restart: always
    volumes:
      - nextcloud-s3data:/data
    environment:
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - MINIO_ACCESS_KEY=$S3_ACCESS_KEY
      - MINIO_SECRET_KEY=$S3_SECRET_KEY
    command: --compat server /data

  nextcloud:
    image: nickistre/nextcloud:fpm-alpine
    build: ./fpm-alpine
    restart: always
    volumes:
      - nextcloud:/var/www/html
    environment:
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MYSQL_DATABASE
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_BUCKETNAME
      - S3_AUTOCREATE
      - S3_HOST
      - S3_PORT
      - S3_USE_PATH_STYLE
      - S3_USE_SSL
    env_file:
      - nextcloud.env
    depends_on:
      - nextcloud-mariadb
      - nextcloud-redis
      - nextcloud-s3

  nextcloud-web:
    image: nickistre/nextcloud-web
    build: ./web
    restart: always
    ports:
      - 8080:80
    volumes:
      - nextcloud:/var/www/html:ro
    depends_on:
      - nextcloud

  nextcloud-cron:
    image: nickistre/nextcloud-cron:fpm-alpine
    build: ./fpm-alpine
    restart: always
    volumes:
      - nextcloud:/var/www/html
    entrypoint: /cron.sh
    environment:
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MYSQL_DATABASE
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_BUCKETNAME
      - S3_AUTOCREATE
      - S3_PORT
      - S3_USE_PATH_STYLE
      - S3_USE_SSL
    env_file:
      - nextcloud.env
    depends_on:
      - nextcloud-mariadb
      - nextcloud-redis
      - nextcloud-s3

  nextcloud-s3watch:
    image: nickistre/nextcloud-s3watch
    build: ./s3watch
    environment:
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_BUCKETNAME
      - S3_HOST
      - S3_PORT
    depends_on:
      - nextcloud-s3

volumes:
  nextcloud-mariadb:
  nextcloud-s3data:
  nextcloud:
