# Copy this file to .env and change the values as needed.

# MySQL/MariaDB
MYSQL_USER=nextcloud
MYSQL_PASSWORD=password
MYSQL_DATABASE=nextcloud
MYSQL_ROOT_PASSWORD=password

# S3
S3_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
S3_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
S3_BUCKETNAME=nextcloud

# Needed for connecting to local Minio
S3_AUTOCREATE=1
S3_HOST=nextcloud-s3
S3_PORT=9000
S3_USE_PATH_STYLE=1
S3_USE_SSL=0