apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secrets
type: Opaque
stringData:
  MYSQL_HOST: nextcloud-mariadb
  MYSQL_USER: nextcloud
  MYSQL_PASSWORD: password
  MYSQL_DATABASE: nextcloud
  REDIS_HOST: nextcloud-redis
  S3_ACCESS_KEY: AKIAIOSFODNN7EXAMPLE
  S3_SECRET_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  S3_BUCKETNAME: nextcloud
  S3_AUTOCREATE: "1"
  S3_HOST: nextcloud-s3
  S3_PORT: "9000"
  S3_USE_PATH_STYLE: "1"
  S3_USE_SSL: "0"